*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
body{
    font-family: "Nunito", serif;
    scroll-behavior: smooth;
}
body::-webkit-scrollbar{
    width: 5px;
}
body::-webkit-scrollbar-track{
    background-color: white;
}
body::-webkit-scrollbar-thumb{
    background-color: rgb(10, 10, 10);
    border-radius: 3px;
}
#top-btn{
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    font-size: 18px;
    color: white;
    position: fixed;
    right: 30px;
    bottom: 30px;
    z-index: 10;
    display: none;
}
nav{
    padding: 0;
}
.nav1{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(40, 40, 40);
}
.nav1 img{
    margin: 8px;
    margin-left: 60px;
}
.nav1 ul{
    display: flex;
    list-style: none;
    margin-right: 25px;
}
.nav1 ul li{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
    border-right: 1.5px solid white;
}
.nav1 ul li:last-child{
    border-right: none;
}
.nav1 ul li a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}
.nav2{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(10, 10, 10);
    width: 100%;
    z-index: 5;
    transition:0.5s ease;
}
.nav2 img{
    margin-left: 50px;
}
.nav2 ul{
    display: flex;
    list-style: none;
}
.nav2 ul li{
    color: white;
    padding-left: 15px;
    padding-right: 15px;
}
.nav2 ul li::after{
    content: '';
    display: block;
    height: 2px;
    width: 0%;
    margin: auto;
    background-color: white;
    border-radius: 1px;
}
.nav2 ul li:hover::after{
    width: 100%;
    transition: 0.5s ease;
}
.nav2 ul li a{
    color: white;
    text-decoration: none;
    font-size: 17px;
}
.search{
    color: white;
    margin-right: 50px;
    display: flex;
    align-items: center;
}
.search-sec{
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
}
.search i{
    margin-right: 15px;
    font-size: 18px;
}
.search-sec i{
    position: absolute;
    margin-right: 0px;
    background-color: rgb(229, 239, 248);
    margin-left: 0.5px;
    color: rgb(10, 10, 10);
    padding: 8px;
    border-radius: 50%;
    height: 17px;
    width: 17px;
}
.search-sec i:hover{
    background-color: rgb(188, 227, 230);
}
.search-input{
    padding: 10px;
    padding-left: 37px;
    width: 120px;
    background-color: aliceblue;
    border: none;
    border-radius: 20px;
    margin-right: 15px;
    left: 0;
    transition: 0.5s ease-in-out;
}
.search-input::placeholder{
    color: rgb(10, 10, 10);
    letter-spacing: 0.8px;
    font-weight: 500;
}
.search-input:focus{
    width: 130px;
}
#progress-bar{
    height: 3px;
    width: 0%;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    position: fixed;
    top: 0;
    z-index: 1;
    background-color: rgb(255, 213, 0);
}
.mar1{
    padding: 5px;
    margin-top: 1px;
    margin-bottom: 1px ;
    background-color: antiquewhite;
    justify-items: center;
    padding-left: 20px;
    width: 97%;
    align-items: center;
    text-align: center;
    white-space: no-wrap;
    
}
.mar1 i{
    font-size: 10px;
}
.marquee{
    display: flex;
    justify-content: center;
    padding: 4px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: antiquewhite;
    justify-content: center;
}
.types{
    background-color: rgb(40, 40, 40);
    display: flex;
    justify-content: center;
    padding: 5px;
    font-size: 13px;
}
.types ul{
    display: flex;
    color: lightgray;
    justify-content: center;
    list-style: none;
}
.types ul li{
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 1px;

}
.types ul li:nth-child(1){
    border-bottom: 2px solid white;
}
.types ul li::after{
    content: '';
    height: 2px;
    display: var(--after-display,'none');
    z-index: 6;
    margin-top: 2px;
    background-color: white;
    width: 100%;
}
.limited{
    position: absolute;
    right: 0;
    z-index: 0;
}
.limited a{
    color: white;
    text-decoration: none;
    animation: blink 1s infinite ease;
    letter-spacing: 1px;
    margin-right: 20px;
}
@keyframes blink{
    0%{
        opacity: 0.2;
        color: blue;
    }25%{
        opacity: 0.6;
        color: red;
    }50%{
        opacity: 1;
    }
}
.hero{
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    height: 700px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 85%);
    z-index: 0;
    background-repeat: no-repeat;
    display: flex;
    position: relative;
    overflow: hidden;
    width: 100%;
}
.slider{
    display: flex;
    scroll-snap-type: x mandatory;
}
.slide-bg{
    height: 550px;
    width: 550px;
    background-color: yellow;
    z-index: 1;
    left: 12%;
    border-radius: 50%;
    position: absolute;
}
.slide-img{ 
    z-index: 2;
    width: 53%;
    position: relative;
    left: 6%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.slide img{
    z-index: 2;
    margin-top: 20px;
    height: 600px;
}
.slide{
    flex: 0 0 100vw;
    scroll-snap-align: start;
    width: 98.45vw;
    position: relative;
    display: flex;
    align-items: center;
    height: 90%;
    z-index: 3;
}
.slide h2{
    color: white;
    font-size: 40px;
    letter-spacing: 1.5px;
}
.slide p{
    color: white;
    font-size: 16px;
    letter-spacing: 0.5px;
    margin-top: 10px;
}
.slide .price{
    font-size: 18px;
    position: relative;
    display: inline-block;
    color: rgba(255, 255, 255, 0.781);
    height: 20px;
    margin-bottom: 10px;
}
.slide .price::after{
    content: '';
    height: 1.5px;
    width: var(--after-width, 0px);
    background-color: white;
    position: absolute;
    z-index: 6;
    top: 50%;
    left: 0;
    transform: rotate(10deg) translateY(-50%);
    transition: width 0.5s ease;
    margin-top: 2px;
}
.new-price{
    font-size: 20px;
    color: white;
    margin-left: 10px;
    display: none;
    transform: translateX(-100%);
    animation: slideRight 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
}
@keyframes slideRight{
    from{
        transform: translateX(-50%);
    }to{
        transform: translateX(0%);
    }
}
.slide h2::after{
    content: '';
    display: block;
    height: 2px;
    background-color: white;
    width: 30%;
    margin-top: 5px;
}
.slide-content{
    z-index: 1;
    width: 30%;
    margin-left: 8%;
    display: flex;
    justify-content: left;
    align-items: left;
    text-align: left;
    flex-direction: column;
    color: white;
}
.slide-content button{
    padding: 10px;
    width: 130px;
    border-radius: 20px;
    margin-top: 10px;
    border: none;
    font-size: 15px;
    letter-spacing: 0.7px;
}
.rating{
    color: gold;
    font-size: 18px;
    margin-top: 10px;
}
.quote-section{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.head1{
    font-size: 60px;
    letter-spacing: 0px;
    outline: none;
    margin: none;
    font-family: "Roboto", serif;
    font-weight: 900;
    font-style: normal;
}
.buttons{
    margin-top: 15px;
}
.btn1{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(10, 10, 10);
    color: white;
    font-size: 15px;
    letter-spacing: 0.75px;
    font-weight: bold;
    margin: 0px 5px 0px 5px;
}
.hero-controls{
    position: absolute;
    z-index: 6;
    width: 95vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 40%;
    left: 2.25%;
    justify-content: space-between;
}
.color-controls{
    position: absolute;
    z-index: 6;
    width: 95vw;
    display: flex;
    flex-direction: row;
    align-items: center;
    top: 55%;
    left: 2.25%;
    justify-content: space-between;
}
.hero-controls i,.color-controls i{
    color: white;
    background-color: rgba(0, 0, 0, 0.557);
    font-size: 20px;
    padding: 15px;
}

/*--------------------------Color-section-----------------------------------------------------*/

.colors{
    display: flex;
    background-image: url(images/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    clip-path: polygon(0 0, 100% 25%, 100% 100%, 0% 100%);
    position: relative;
    align-items: end;
    width: 99.8%;
    overflow: hidden;
}
.color-slider{
    display: flex;
    scroll-snap-type: x mandatory;
}
.color-slide{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 98vw;
    position: relative;
    flex: 0 0 100vw;
    scroll-snap-align: start;
}
.color-btn{
    position: absolute;
    color: white;
    font-size: 20px;
    transform: rotate(-45deg);
    bottom: 5px;
    right: 5px;
    cursor: pointer;
}
.btn-bg{
    position: absolute;
    bottom: 0;
    right: 0;
    background-color: green;
    height: 50px;
    width: 50px;
    clip-path: polygon(50100% 100%, 100% 0, 0 100%);
}
.shoe1 img{
    height: 170px;
}
.shoe2 img{
    height: 180px;
} 
.shoe-content{
    margin: 10px;
    font-size: 20px;
    margin-bottom: 40px;
}
.shoe_tag{
    color: rgb(43, 143, 43);
    letter-spacing: 0.5px;
    font-weight: bold;
}
.shoe_para{
    color: rgba(255, 255, 255, 0.7);
    font-size: 18px;
}
.shoe_head{
    color: white;
    letter-spacing: 0.5px;
}
/*-------------------------Trending -Section------------------------------------------------------*/

.trending-section{
    display: flex;
    align-items: center;
    justify-content: center;
}
.trend-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
}
.trend{
    margin: 7px;
}
.trend img{
    height: 460px;
    width: 350px;
}
.trending h2{
    font-family: "Roboto", serif;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 30px;
}
.trend p{
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    letter-spacing: 0.5px;
    font-size: 18px;
    font-weight: 600;
}
.jordan-section{
    display: flex;
    justify-content: center;
}
.jordan-head{
    margin: 40px;
    font-family: "roboto",serif;
    font-weight: 800;
    letter-spacing: 0.6px;
    font-size: 30px;
}
.jordan{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.jordan-img{
    width: 90%;
}
.jordan-content{
    margin-top: 40px;
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.btn2{
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: none;
    border-radius: 20px;
    background-color: rgb(10, 10, 10);
    color: white;
    font-size: 15px;
    letter-spacing: 0.75px;
    font-weight: bold;
    margin-top: 20px;
}
/*.classic-section{
    background-color: rgb(10, 10, 10);
    color: white;
    display: flex;
    align-items: center;
    margin: 40px 0px 30px 0px;
    overflow: scroll;
}
#classic-shoes{
    display: flex;
    padding-bottom: 30px;
    padding-top: 30px;
}*/
.shoe img{
    height: 290px;
    width: 290px;
    margin: 5px;
    border-radius: 8px;
    z-index: 1;
}
.shoe-index{
    background-color: rgba(50, 50, 50, 0.459);
    position: absolute;
    padding: 15px;
    padding-top: 5px;
    margin-top: 5px;
    margin-left: 5px;
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom-right-radius: 40%;
    z-index: 2;
}
.classic-section {
    margin-top: 40px;
    background-color: rgb(40, 40, 40);
    color: white;
    padding: 20px 0;
}

.classic-head{
    margin:0px 0px 20px 40px;
    font-size: 30px;
    font-family: 'Roboto',serif;
    font-weight: bold;
    letter-spacing: 1px;
}

#classic-shoes {
    display: flex;
    overflow-x: auto;
    white-space: nowrap;
    scroll-behavior: smooth;
    padding: 20px 0;
}
#classic-shoes::-webkit-scrollbar {
    display: none;
}

.shoe {
    flex-shrink: 0;
    margin: 0 10px;
}
.classic-control,.sport-control,.member-control{
    display: flex;
    color: black;
    margin: 5px 25px 0px 0px;
}
.classic1,.member1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.classic-control i,.sport-control i,.member-control i{
    background-color: rgba(236, 226, 226, 0.858);
    color: black;
    padding: 15px;
    border-radius: 50%;
    height: 15px;
    width: 15px;
    font-size: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sport,.member{
    margin: 10px;
}
.sport img{
    height: 300px;
    width: 450px;
}
.sport-slider,.member-slider{
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    position: relative;
    white-space: nowrap;
}
.sport-class,.member-class{
    width: 90%;
    text-align: left;
}
.sport-section,.member-section{
    display: flex;
    justify-content: center;
    margin: 30px 0px 30px 0px;
}
.sport1{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.sport-head{
    margin-left: 10px;
}
.sport-para{
    position: absolute;
    color: black;
    background-color: white;
    padding: 8px 15px 8px 15px;
    border: none;
    border-radius: 20px;
    white-space: nowrap;
    bottom: 40px;
    margin-left: 20px;
    font-weight: bold;
}
.member img{
    height: 430px;
    width: 345px;
}
.member-content{
    position: absolute;
    bottom: 40px;
    margin-left: 40px;
    color: white;
}
.member-content p{
    font-size: 18px;
    font-weight: bold;
}
.member-content h3{
    font-size: 25px;
    margin-top: 5px;
}
.member-content button{
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 0.5px;
    color: black;
    padding: 10px 15px 10px 15px;
    border: none;
    border-radius: 20px;
    margin-top:20px;
}
.footer-section{
    display: flex;
    flex-direction: column;
    background-color: rgb(10, 10, 10);
    position: relative;
}
.footer2{
    display: flex;
}
.country{
    display: flex;
    align-items: center;
    float: right;
    margin-right: 30px;
    position: absolute;
    top: 60px;
    right: 30px;
}
.country i{
    font-size: 15px;
    margin-right: 10px;
    color: white;
}
.country-name a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.footer1{
    margin: 30px;
}
.footer-links{
    display: flex;
}
.footer-list{
    list-style: none;
    margin: 20px 8% 20px 20px;
}
.footer-list li{
    margin: 8px 0px 8px 0px;
    letter-spacing: 0.4px;
    white-space: nowrap;
}
.footer-list li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
    font-size: 15px;
}
.footer-head{
    color: white;
    font-weight: bold;
    font-size: 19px;
    padding-bottom: 20px;
}
.footer2{
    color: rgba(255, 255, 255, 0.7);
    margin: 0px 0px 30px 40px;
    white-space: nowrap;
    font-size: 15px;
}
.guide{
    margin-left: 20px;
    position: relative;
}
.footer2 a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.7);
    margin-left: 20px;
}
.guide-options{
    display: none;
    position: absolute;
    bottom: 20px;
    left: 0px;
    background-color: rgb(40, 40, 40);
    border-radius: 8px;
    outline: none;
    width: 170px;
}
.guide-options p{
    width: 94%;
    padding: 8px 10px 8px 0px;
    border-radius: 8px;
}
.guide-options p:hover{
    background-color: black;
}
.categories-section{
    background-color: rgb(40, 40, 40);
}
.category{
    display: flex;
    padding: 30px;
    justify-content: space-around;
    transition: 0.5s ease-in-out;
}
.cat-lists{
    list-style: none;
}
.cat-head{
    font-size: 19px;
    padding-bottom: 20px;
}
.cat-lists li{
    color: white;
    margin: 10px 0px 10px 0px;
    letter-spacing: 0.4px;
}
.cat-lists li a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6);
}
.cat-hidden{
    display: none;
}
















/*.ann-content{
    
    animation: scrol 5s ease infinite;
}
.annoucement{
    width: 100%;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
    align-items: center;
    display: inline-flex;
    background-color: antiquewhite;
    overflow: ;
}
.annoucement i{
    font-size: 10px;
}
@keyframes scroll{
    100%{
        transform: translateX(100%);
    }0%{
        transform: translateX(-100%);
    }
}*/